###############
# object file #
###############
*.o
*.lo
*.la
*.deps
*.libs

###############
# build       #
###############
build
config.h

###############
# output      #
###############
bin/
html/

###############
# experiment  #
###############
data/
